body {
  font-family: 'Lato', sans-serif;
  color: #747784;
  font-weight: 300;
}

#icon {
  color: #F8981C;
margin-top: 35px;
}

.text-muted {
  color:#BCBBBB;
}

.text-thin {
  font-weight:100;
}

.title-super {
  font-size: 50px;
}
.line-weight{
  font-weight:700;
}